<button mat-button (click)="openInNewTab(ImageSrc)">full screen<i class="material-icons">fullscreen</i></button>
<div class="imageViewer">
  <img [alt]="fileMetaData.originalname" [src]="ImageSrc" width="100%">
</div>
