<div class="pdf operations">
    <form>
        <!-- <mat-form-field>
            <input type="number" step="0.1" min="1" max="2" [(ngModel)]="zoom" name="zoom" matInput placeholder="Zoom" value="1">
        </mat-form-field> -->
        <button mat-button (click)="prevPage()" class="navigatePage"> 
            <i class="material-icons">navigate_before</i>
        </button>
        <mat-form-field class="pageInput">
            <input min="1" [max]="numPages" [(ngModel)]="currentPage" name="page" placeholder="page" matInput placeholder="page" >
        </mat-form-field>
        of {{numPages}}
        <button mat-button (click)="nextPage()"  class="navigatePage">
            <i class="material-icons">navigate_next</i>
        </button>
        <button mat-button (click)="openInNewTab(pdfSrc)">full screen
            <i class="material-icons">fullscreen</i>
        </button>
    </form>
</div>
<mat-progress-bar mode="determinate" [value]="loaded"></mat-progress-bar>
<!-- <mat-spinner [hidden]="IsLoadingFinished()"></mat-spinner> -->
<pdf-viewer 
    (error)="onError($event)" 
    (after-load-complete)="onLoad($event)"
    (on-progress)="onProgress($event)" 
    [src]="pdfSrc"
    [render-text]="true"
    [show-all]="false" 
    [stick-to-page]="true"
    [page]="currentPage"
    >
</pdf-viewer> 

