<i class="material-icons" style="cursor: pointer;" (click)="closeModal()">close</i>

<mat-form-field>
  <input matInput placeholder="Insert case name" [(ngModel)]="caseName" (keyup.enter)="addCase(caseName)">
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Case Type" [(value)]="caseType">
    <mat-option *ngFor="let type of caseTypes" value={{type.value}}>
      {{ type.displayName }}
    </mat-option>
  </mat-select>
</mat-form-field>
<div style="display: flex;">
  <button mat-raised-button color="primary" style="flex: 1" (click)="addCase(caseName, caseType)">Create Case</button>
</div>
