<mat-toolbar class="fixed-header" style="background-color:white !important">
  <img src="assets/images/logo.jpg" height="60" width="120">
  <span class="font">  Hello usernaem</span>
  <span class="space"></span>
  <!-- <span class="space">Tag Search</span>
  <span class="space">Text Search</span>
  <span class="space">Document Search</span> -->
  <!--<mat-form-field class="icons">-->
    <!--<input matInput placeholder="Search on Google">-->
  <!--</mat-form-field>-->
  <mat-icon class="icons">settings</mat-icon>
  <mat-icon class="icons">info</mat-icon>
  <mat-icon class="icons">power_settings_new</mat-icon>
</mat-toolbar>
