div.vertical-line{
  width: 0px; /* Use only border style */
  height: 100%;
  float: left;
  margin: 5px;
  border: 1px solid rgba(30, 144, 255, 0.16); /* This is default border style for <hr> tag */
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%  !important;
}

.font {
  font-size: 15px;
  font-weight: bold;
}

.space {
  flex: 1 1 auto;
}

.mat-form-field {
  font-size: 14px;
}

.icons {
  color: darkgrey;
}

mat-icon.icons {
  cursor: pointer;
}

img{
  margin-right: 30px;
}
