<div class="content">
  <button mat-icon-button color="primary" (click)="openUploadFileDialog()">
    <i class="material-icons">file_upload</i>
  </button>
  <button mat-icon-button color="primary" (click)="openFiles()" [disabled]="!(selectedFiles.length >= 1)">
    <i class="material-icons">remove_red_eye</i>
  </button>
  <button mat-icon-button color="primary" (click)="deleteFiles()" [disabled]="!(selectedFiles.length >= 1)">
    <i class="material-icons">delete</i>
  </button>
  <button mat-icon-button [disabled]="!(selectedFiles.length >= 1)" color="primary" [matMenuTriggerFor]="menu">
    <i class="material-icons">more_horiz</i>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon> share </mat-icon>
      <span> Share File </span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="editMenu">
      <mat-icon> edit </mat-icon>
      <span> Edit files </span>
    </button>
    <mat-menu #editMenu="matMenu">
      <button mat-menu-item (click)="changeCategory()">
        <mat-icon> title </mat-icon>
        <span> Change Category </span>
      </button>
      <button mat-menu-item (click)="changeSubCategory()">
        <mat-icon> title </mat-icon>
        <span> Change sub category </span>
      </button>
      <button mat-menu-item (click)="changeLanguage()">
        <mat-icon> title </mat-icon>
        <span> Change language </span>
      </button>
      <button mat-menu-item (click)="changeAuthor()">
        <mat-icon> title </mat-icon>
        <span> Change author </span>
      </button>
    </mat-menu>
  </mat-menu>
</div>