<br>
<br>
<br>
<table width="100%" *ngIf="dataSource">
  <tr>

    <th class="main-header header" *ngFor="let header of displayedColumns">{{header.displayName}}
    </th>
  </tr>
  <tr>
    <td class="sub-header" *ngFor="let header of displayedColumns;let i = index">
      <span style="display: flex">
        <mat-checkbox color="primary" style="float: left;
                    flex: 0.5;
                    border-top: .1em solid transparent;
                    margin-top: 2.5px; margin-left: 5px" [(ngModel)]="toggleAllCheck" (change)="toggleAll(toggleAllCheck)"
          *ngIf="i === 0"></mat-checkbox>
        <span style="flex: 2; margin-left: 5px; margin-top: 5px; cursor: pointer" [matMenuTriggerFor]="sort">
          All
        </span>
        <span (click)="sortArray(dataSource, header)">
          <i *ngIf="header.az" class="material-icons" style="float: right; cursor:pointer; flex: 0.5; margin-top: 5px;">arrow_drop_up</i>
          <i *ngIf="!header.az" class="material-icons" style="float: right; cursor:pointer; flex: 0.5; margin-top: 5px;">arrow_drop_down</i>
        </span>
      </span>
      <!-- <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="sortArray(dataSource, header)">Sort A-Z </button>
        <button mat-menu-item (click)="sortArray(dataSource, header)">Sort Z-A </button>
      </mat-menu> -->
    </td>
  </tr>
  <tr *ngFor="let file of dataSource | filterByField : selectedToFilter : 'category'; let i = index" (mouseleave)="rowOver(null)"
    (click)="addFileToOpenFilesList(file)" [ngClass]="selectedRow === i ? 'lines lines-active' : 'lines'" (mouseover)="rowOver(i)">
    <td>
      <mat-checkbox color="primary" style="padding: 5px" (click)="$event.stopPropagation()" (change)="addFilesToSelectedFiles(file, isChecked[file.filename])"
        [(ngModel)]="isChecked[file.filename]"></mat-checkbox>
      {{file.metaData.category}}
    </td>
    <td>
      {{file.metaData.subCategory}}
      <td matTooltip="{{file.originalname}}" [matTooltipPosition]="'above'">
        {{file.originalname.length > 30 ? file.originalname.substring(0, 30) + '...' : file.originalname}}
      </td>
      <td>
        {{file.metaData.downloadTime | date:'short'}}
      </td>
      <td>
        {{file.metaData.language}}
      </td>
      <td>
        {{file.metaData.author}}
      </td>
      <td>
        {{file.metaData.reference}}
      </td>
  </tr>
</table>
<div class="no-files-container" *ngIf="dataSource.length < 1">
  <span class="no-files" (click)="openUploadFileDialog()">
    <i class="material-icons no-files-icon">file_upload</i>
    <br>
    <br>
    <h3>Upload You'r First Files</h3>
  </span>
</div>

<mat-menu #sort="matMenu">
  <mat-list>
    <mat-list-item *ngFor="let category of categoryList let i = index" style="cursor: pointer">
      <mat-checkbox color="primary" [(ngModel)]="filter[i]" (change)="insertToFilter(category.enName, filter[i])"></mat-checkbox>
      {{category.enName}}
    </mat-list-item>
    <mat-list-item style="cursor: pointer">
      <button mat-raised-button color="primary" (click)="selectAllCategories()">ALL</button>
    </mat-list-item>
  </mat-list>
</mat-menu>