table {
  overflow: hidden;
  border: 2px #978d8d solid!important;
}

mat-header-cell {
  color: white;
}

.main-header {
  background-color: #1bb9fd;
  color: white;
  height: 46px;
}

th {
  min-width: 150px;
}

.header{
  color: white!important;
}

.sub-header {
  background-color: #019fd6;
  height: 34px;
  font-weight: 100;
  font-size: 14px;
  color: white;
}

.lines {
  height: 46px;
  border-bottom: 1px solid darkgrey;
  cursor: pointer;
}

.lines-active {
  background-color: #c3c3c5;
}

td {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #8080804f;
}

.no-files-container {
  height: 400px;
  line-height: 400px;
  text-align: center;
  border: 2px dashed #3f51b5;
  border-top: 0px;
  color: #3f51b5;
  cursor: pointer;
}
.no-files {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.no-files-icon {
  border: 1px solid #3f51b5;
  border-radius: 50%;
  padding: 20px;
  font-size: 100px;
  transition:all 0.3s ease;
}

.no-files-container:hover .no-files-icon {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
