<i class="material-icons" style="cursor: pointer;" (click)="closeModal()">close</i>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Language" [(ngModel)]="newLanguage">
</mat-form-field>
<button mat-raised-button color="primary" (click)="changeLanguage(newLanguage, selectedFiles.selectedFiles)">
  Change Language
</button>