<form class="edit-form">
  <table class="edit-input">
    <tr>
      <td>
        <app-choose-category [currentCategory]="category" style="width: 100%" (categoryChange)="tempMetadata.metaData.category = $event">
        </app-choose-category>
      </td>
      <!-- <td>
            <mat-form-field class="edit-input">
              <input matInput name="subCategory" [(ngModel)]="tempMetadata.metaData.subCategory" placeholder="Secondary Category">
            </mat-form-field>
          </td> -->
      <td>
        <app-choose-sub-category style="width: 100%" (categoryChange)="tempMetadata.metaData.subCategory = $event">
        </app-choose-sub-category>
      </td>
      <td>
        <mat-form-field class="edit-input">
          <input matInput [value]="tempMetadata.metaData.downloadTime" [matDatepicker]="picker" placeholder="Download Time">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker (selectedChanged)="tempMetadata.metaData.downloadTime = $event" #picker></mat-datepicker>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="edit-input">
          <input matInput name="langage" [(ngModel)]="tempMetadata.metaData.language" placeholder="Doc Language">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="edit-input">
          <input matInput name="author" [(ngModel)]="tempMetadata.metaData.author" placeholder="Author">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="edit-input">
          <input matInput name="reference" [(ngModel)]="tempMetadata.metaData.reference" placeholder="Reference">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <b>
          Witness Name:
        </b>
        israel
      </td>
      <td>
        <b>
          Testimony Time:
        </b>
        22/03/2011
      </td>
      <td>
        <b>
          Testimony Place:
        </b>
        Place
      </td>
      <td>
        <button mat-raised-button color="primary" [disabled]="checkIfObjChange()" (click)="editMetaData()"> Save Properties
          <i class="material-icons">save</i>
        </button>
      </td>
    </tr>
  </table>
</form>
