<mat-form-field class="example-full-width">
  <input matInput placeholder="Category"
         [value] = "currentCategory"
         [(ngModel)]="categoryValue"
         (ngModelChange)="onCategoryChange($event)"
         name="categoryForAll"
         aria-label="State"
         [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let category of currentCategoryList"
                [value]="category.enName" required>
      <span>{{ category.enName }}</span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
