<i class="material-icons" style="cursor: pointer;" (click)="closeModal()">close</i>

<div class="uploader">
  <!-- <div (onFileDrop)="dropped($event)" ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
      class="well my-drop-zone">
      Base drop zone
  </div> -->

  <!-- <div ng2FileDrop [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}" (fileOver)="fileOverAnother($event)" [uploader]="uploader"
      class="well my-drop-zone">
      Another drop zone
  </div> -->
  <!--<div *ngIf="!validateCategories()" class="uploadMessage">-->
  <!--<h2>-->
  <!--שים לב! חובה לציין קטגוריה-->
  <!--</h2>-->
  <!--</div>-->
  <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">
    <i class="material-icons">insert_drive_file</i> Select file to upload
  </button>
  <button type="button" mat-raised-button color="primary" (click)="directoryInput.click()">
    <i class="material-icons">folder</i> Select folder
  </button>
  <form *ngIf="uploader?.queue?.length > 1" class="example-form">
    <app-choose-category (categoryChange)="onInputMainCategoryChange($event)"></app-choose-category>
  </form>

  <input #fileInput type="file" ng2FileSelect (change)="filterFiles()" (onFileDrop)="onFileDrop($event)" [uploader]="uploader"
    accept="image/*, .pdf" multiple hidden/>

  <input webkitdirectory directory #directoryInput type="file" ng2FileSelect (change)="filterFiles()" (onFileDrop)="onFileDrop($event)"
    [uploader]="uploader" accept="image/*, .pdf" multiple hidden/>
  <br/>
  <div class="main-progress" *ngIf="uploader.isUploading">
    <mat-progress-bar mode="determinate" [value]="uploader.progress"></mat-progress-bar>
  </div>
  <br>
  <div *ngIf="uploader.queue.length" class="files_table">
    <table>
      <thead>
        <tr>
          <th>File name</th>
          <th>Size</th>
          <th>Category</th>
          <th>Remove</th>
          <th>Upload</th>
        </tr>
      </thead>

      <tr *ngFor="let item of uploader.queue">
        <td id="fileName" matTooltip="{{item?.file?.name}}" [matTooltipPosition]="'above'" class="tool-tip-file">
          <strong>
            {{ item?.file?.name.length > 25 ? item?.file?.name.substring(0, 25) : item?.file?.name }}
          </strong>
        </td>
        <td>{{ item?.file?.size/1024/1024 | number:'1.2-2' }} MB</td>
        <td>
          <form class="example-form">
            <app-choose-category [currentCategory]="categories[item.file.name]" (categoryChange)="categories[item.file.name] = $event"></app-choose-category>
            <mat-error *ngIf="!validateCategories">fill</mat-error>
          </form>
        </td>
        <td>
          <button (click)="item.remove()" mat-icon-button color="primary">
            <i class="material-icons">remove_circle</i>
          </button>
        </td>
        <td nowrap>
          <span matTooltip="{{!categories[item.file.name] ? 'choose category': ''}}" [matTooltipPosition]="'above'" class="tool-tip-file">
            <button (click)="item.upload()" mat-icon-button color="primary" [disabled]="!categories[item.file.name]">
              <i class="material-icons">file_upload</i>
            </button>
          </span>
        </td>
        <td>
          <button (click)="item.cancel()" mat-icon-button color="primary" *ngIf="item.isUploading">
            <i class="material-icons">cancel</i>
          </button>
        </td>
        <td *ngIf="item.isUploading">
          <div class="progress">
            <mat-progress-bar mode="buffer"></mat-progress-bar>
          </div>
        </td>
        <td class="text-center">
          <span *ngIf="item.isSuccess">
            <i class="material-icons">done</i>
          </span>
          <span *ngIf="item.isCancel">
            <i class="material-icons">remove_circle_outline</i>
          </span>
          <span *ngIf="item.isError">
            <i class="material-icons">error</i>
          </span>
        </td>
      </tr>
    </table>
  </div>
  <div class="bottom_operations">
    <p *ngIf="uploader?.queue?.length > 1"> {{ uploader?.queue?.length }} files ready to upload </p>
    <button (click)="uploader.clearQueue()" mat-button color="primary" *ngIf="uploader.queue.length > 1 && (!uploader.isUploading)">
      Remove all
      <i class="material-icons">remove_circle</i>
    </button>
    <button (click)="uploader.uploadAll()" mat-button color="primary" *ngIf="(uploader.getNotUploadedItems().length > 1)" [disabled]="!validateCategories()">
      Upload all
      <i class="material-icons">file_upload</i>
    </button>
    <button (click)="uploader.cancelAll()" mat-button color="primary" *ngIf="uploader.queue.length > 1 && uploader.isUploading">
      Cancel all
      <i class="material-icons">cancel</i>
    </button>
  </div>
</div>