.bottom_operations{
  text-align: right;
}

.uploader {
  text-align: left;
}
table {
  border-collapse: collapse;
}

td:nth-child(-n+5){
  border: 1px solid black;  
}

 th {
  border: 1px solid black;
}

.files_table {
    overflow: auto;
    max-height: 290px;
  }
  #fileName{
    width: 20%;
  }
  .progress{
    width: 70px;
  }
  .main-progress{
    width: 100%;    
  }
  .my-drop-zone { border: dotted 3px lightgray; }
  .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
  .another-file-over-class { border: dotted 3px green; }
.mat-tooltip ng-trigger ng-trigger-state {
  word-wrap: break-word!important;
}
.uploadMessage{
  color: red;
  float: left;
  left: 25%;
  position: relative;
  bottom: -34px;
}
