.lines-active {
  background-color: rgba(63, 81, 181, 0.29);
  cursor: pointer;
}
.messages{
  text-align: center;
  align-items: center;
  align-content: center;
  color: red;
}
.messages i{
  color: red;
  font-size: 80px;
}
