<i class="material-icons" style="cursor: pointer;" (click)="closeDialog(null)">close</i>
<div class="messages">
  <mat-spinner *ngIf="showLoader"></mat-spinner>
  <div *ngIf="showMessage && !showLoader">
    <i class="material-icons">highlight_off</i>
    <br> No cases</div>
</div>
<mat-list style="max-height: 500px; overflow: auto">
  <mat-list-item *ngFor="let case of allCases let i = index" (click)="closeDialog(case._id)" [ngClass]="i === overRow ? 'lines-active' : ''"
    (mouseover)="changeSelect(i)" (mouseleave)="changeSelect(null)">
    <i class="material-icons">folder_open</i>
    <h4 mat-line>{{case.name}}</h4>
  </mat-list-item>
</mat-list>