.file-statistics {
    display: flex;
    flex-direction: row;
    padding: 3px;
    height: 175px;
    max-width: 80%;
    overflow: auto;
    background-color: rgba(245, 245, 245, 1);
}

.border-bottom-top  {
    border-bottom: 1px solid rgb(90, 90, 90);
    border-top: 1px solid rgb(90, 90, 90);
}

.border-top {
    border-top: 1px solid rgb(90, 90, 90);
}

.statistic-list {
    margin: 0 3px;
}
.statistic-data {
    cursor: pointer;
}

.statistic-data:hover {
    background-color: rgb(206, 206, 206);
}
mat-list-item {
    max-width: 215px;
}

/* .item-env {
    max-height: 135px;
    overflow-x: hidden;
    overflow-y: auto;
} */
/* .border-bottom {
    border-bottom: 1px solid rgb(90, 90, 90);
} */