<div class="file-statistics">
  <div class="messages">
    <mat-spinner *ngIf="showLoader"></mat-spinner>
    <div *ngIf="showMessage && !showLoader">
      <i class="material-icons">highlight_off</i>
      <br> No statistics for this docunent</div>
  </div>
  <mat-list dense *ngFor='let statisticKey of objectKeys(fileStatistics)' class="statistic-list border-top">
    <mat-list-item> <b matLine style="font-size: 1.2em; font-weight: 900;">{{insertSpacesForKeys(statisticKey)}}</b></mat-list-item>
    <div class="item-env">
      <mat-list-item 
      *ngFor='let data of fileStatistics[statisticKey]; let isEven = even; let isLast = last' 
      [ngClass]="{'border-bottom-top': isEven, 'border-bottom' : isLast}" class="statistic-data">
      <span matTooltip="{{data}}" [matTooltipPosition]="'above'" matLine style="font-size: 1.1em">{{data}}</span>
    </mat-list-item>
  </div>
  </mat-list>
</div>
