<i class="material-icons" style="cursor: pointer;" (click)="closeModal()">close</i>
<app-choose-category (categoryChange)="newCategory = $event"></app-choose-category>
<button mat-raised-button color="primary" (click)="changeCategory(newCategory, selectedFiles.selectedFiles)">
  Change
  Category
</button>
