mat-card {
  margin-top: 30px;
}

.mat-tab-header,
.mat-tab-nav-bar {
  border-bottom: 2px solid #0197d6 !important;
}

.close-tab {
  position: absolute;
  left: 0;
  font-size: 15px;
}

.tab-content {
  padding: 10px;
  background-color: #e2e2e2;
}

.file-view {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
