<mat-card style="background: whitesmoke; margin-top: 63px;">
  <app-case-manager style="position: absolute; right: 0"></app-case-manager>
  <button *ngIf="openFilesList.length > 3" mat-icon-button (click)="tabIndex = 0" style="position:relative; top:43px; left:-30px;">
    <i class="material-icons">first_page</i>
  </button>

  <mat-tab-group [selectedIndex]="tabIndex">
    <mat-tab label="{{currentCase ? currentCase.name.length > 12 ? currentCase.name.substring(0, 12) + '...' : currentCase.name : 'Choose Case'}}">
      <app-files-manager *ngIf="currentCase else noFileWarning" style="position: absolute; right: 25px"></app-files-manager>
      <app-files-list *ngIf="currentCase" [dataSource]="currentCase.filesMetaData"></app-files-list>
      <ng-template #noFileWarning>
        <h3>
          <i class="material-icons" style="color: rgba(255,209,20,0.55)">warning</i>
          Please choose some case to begin
        </h3>
      </ng-template>
    </mat-tab>
    <mat-tab label="All Comments" disabled="true">

    </mat-tab>

    <mat-tab *ngFor="let tab of openFilesList">
      <ng-template mat-tab-label>
        <mat-icon (click)="removeFileFromOpenList(tab)" class="close-tab">close</mat-icon>
        {{tab.originalname.length > 12 ? tab.originalname.substring(0, 12) + '...' : tab.originalname}}
      </ng-template>
      <div class="tab-content">

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Document properties
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-file-tabs [fileMetaData]="tab"></app-file-tabs>
        </mat-expansion-panel>
        <mat-card style="margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;">
          <app-pdf *ngIf="tab.mimetype == 'application/pdf' || IsDocFile(tab)" [fileMetaData]="tab"></app-pdf>
          <app-images *ngIf="isImage(tab.mimetype)" [fileMetaData]="tab"></app-images>
          <app-txt *ngIf="IsTxtFile(tab)" [fileMetaData]="tab"></app-txt>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
