<div class="case-position">
  <div class="button-row">
    <button mat-button (click)="showCases()">Open Case</button>
    <button mat-button (click)="newCaseDialog()">New Case</button>
    <button [disabled]="checkIfThereIsCaseOpen()" mat-button [matMenuTriggerFor]="menu">More Options<i class="material-icons">arrow_drop_down</i></button>
  </div>

  <!-- Options button -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="deleteCase()">Delete Case</button>
    <!-- <button mat-menu-item>Option 2</button> -->
  </mat-menu>
</div>
