<h2>{{title.title}}</h2>
<button mat-raised-button color="primary" (click)="closeModal(true)">
  Yes <i class="material-icons">done</i>
</button>
<button mat-raised-button (click)="closeModal(false)">
  Cancel <i class="material-icons">clear</i>
</button>
