<i class="material-icons" style="cursor: pointer;" (click)="closeModal()">close</i>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Author" [(ngModel)]="newAuthor">
</mat-form-field>
<button mat-raised-button color="primary" (click)="changeAuthor(newAuthor, selectedFiles.selectedFiles)">
  Change Author
</button>