@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');
mat-tooltip-component {
  word-wrap: break-word!important;
}

.mat-tab-label-active {
  background: #0197d6!important;
}

.mat-tab-label {
  background: #bbbbbb;
  border-radius: 4px;
  margin-right: 2px;
  height: 44px;
  width: 158px;
  color: #ffffff!important;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  opacity: 1;
}

app-file-tabs .mat-tab-label-active {
  background: #f5f5f5!important;
  font-weight: 700;
  opacity: 1;
}

app-file-tabs .mat-ink-bar {
  visibility: hidden!important;
}
app-file-tabs .mat-tab-label {
  background: #f5f5f5b4;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  margin-right: 2px;
  height: 38px;
  color: black!important;
}

mat-tab-header {
  max-width: 70%!important;
}
