<i class="material-icons" style="cursor: pointer;" (click)="closeModal()">close</i>
<app-choose-sub-category (categoryChange)="newCategory = $event"></app-choose-sub-category>
<button mat-raised-button color="primary" (click)="changeSubCategory(newCategory, selectedFiles.selectedFiles)">
  Change
  subCategory
</button>
