<!-- <mat-slide-toggle (change)="showDetails = !showDetails" color="primary" checked="checked">
  Reading mode
</mat-slide-toggle> -->
<mat-tab-group color="primary">
<mat-tab label="Doc Properties">
  <app-edit-metadata [fileMetaData]="fileMetaData" class="tab-content">
    
  </app-edit-metadata>
</mat-tab>
<mat-tab label="Doc. Comments"></mat-tab>
<mat-tab label="Doc. Statistic">
  <app-file-statistic [filename]="fileMetaData.filename"></app-file-statistic>
</mat-tab>
</mat-tab-group>
